:root {
  --bg-green: #35B8BE;
  --black: #08090A;
  --grey: #546285;
  --white: #FFFFFF;
  --black-grey: #28224B;
  --lines: #D1CDCD;
}

input:focus {
  outline: none;
}

.container {
  margin-inline: 10vw;
}

html, body {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
  width: 0;
  height: 0;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .container {
    margin-inline: 5vw;
  }
}
@media (max-width: 600px) {
  .container {
    margin-inline: 2.5vw;
  }
  .btn_type1 {
    margin: 10px 20px;
  }
}
.btn_type1 {
  background-color: var(--bg-green);
  padding: 19px 35px;
  border-radius: 6px;
  text-align: center;
  transition: all 0.5s;
}

.btn_type1:hover {
  scale: 1.05;
}

.main {
  position: relative;
}

.header__btm__burger {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__btm__burger div {
  height: 4px;
  width: 40px;
  border-radius: 20px;
  background-color: var(--black);
}

.callback {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6%;
  right: 20px;
  background-color: var(--bg-green);
  border-radius: 10px;
  width: 30vw;
}

.callback__item {
  color: var(--white);
  padding: 10px;
  margin: 10px;
}

.callback-exit {
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  position: relative;
}
.callback-exit div {
  border-radius: 20px;
  background-color: var(--black);
  width: 30px;
  height: 5px;
  top: 50%;
  right: calc(50% - 15px);
  position: absolute;
}

.callback-element1 {
  rotate: 135deg;
}

.callback-element2 {
  rotate: 45deg;
}

header {
  background-color: var(--bg-green);
  padding: 15px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.header__nav-left {
  margin-right: 15px;
}

.header__wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btm-left img {
  width: 40px;
  height: 51px;
}

.header__btm__nav {
  display: flex;
  align-items: center;
}

.header__btm__nav-item {
  padding: 20px 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black-grey);
}

.header__btm__nav-item:hover {
  transition: all 0.3s;
  color: var(--bg-green);
}

.callback__item:hover {
  transition: all 0.3s;
  color: var(--black);
}

.header__btm__nav-item-spec {
  margin-left: 14px;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: var(--bg-green);
  border-radius: 10%;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
}
.header__btm__nav-item-spec img {
  position: absolute;
  bottom: calc(50% - 13.5px);
  right: calc(50% - 15px);
}

.header__btm__nav-item-spec:hover {
  scale: 1.05;
}

.header__btm__nav-item-spec__count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 20px 20px 25px 0px rgba(126, 130, 143, 0.27);
}

.header__btm__nav-item-spec__count-text {
  color: var(--bg-green);
}

@media (max-width: 600px) {
  .header__btm__burger {
    display: flex;
  }
  .header__btm__nav-item {
    display: none;
  }
}
.section-main {
  padding: 100px 0 140px 0;
  overflow-y: visible;
  background-image: url(/data/main/BG-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-main__left__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1.8px;
  text-align: left;
  color: var(--black);
}
.section-main__left__title span {
  color: var(--bg-green);
}

.section-main__left__main {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.12px;
  letter-spacing: 0.36px;
  color: var(--grey);
  margin: 27px 0 53px;
  max-width: 80%;
}

.section-main__left__btn {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--white);
  margin-bottom: 30px;
}

.section-main__left__rate-rewievs {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: var(--black);
}
.section-main__left__rate-rewievs span {
  color: var(--bg-green);
}

.section-main__right {
  display: flex;
  align-items: baseline;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .section-main__right {
    display: inline;
  }
  .section-main__right img {
    width: 100%;
  }
  .main-wrapper {
    flex-direction: column;
  }
  .section-main {
    padding: 50px 0 70px;
  }
  .section-main__right {
    margin-top: 30px;
  }
  .section-main__left__title {
    font-size: 40px;
    line-height: 40px;
  }
  .section-main__left__main {
    margin: 15px 0;
  }
}
@media (max-width: 478px) {
  .section-main__left__title {
    font-size: 25px;
    line-height: 25px;
  }
  .section-main {
    padding: 20px 0 30px;
  }
}
.fresh {
  padding: 140px 0;
  background-image: url(/data/section2/BG-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.fresh-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fresh__left {
  background-position: 0%;
  background-image: url(/data/section2/BG-text.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fresh__left-title {
  max-width: 75%;
  color: var(--bg-green);
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.65px;
  text-align: left;
}

.fresh__left-subtitle {
  margin: 29px 0 47px;
  color: var(--grey);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  text-align: left;
}

.fresh__left-btn {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

@media (max-width: 1000px) {
  .fresh-wrapper {
    flex-direction: column;
  }
  .fresh-wrapper img {
    width: 100%;
  }
  .fresh__right {
    margin-top: 20px;
  }
  .fresh__left-title {
    font-size: 30px;
    line-height: 35px;
  }
  .fresh__left-subtitle {
    margin: 15px 0 20px;
  }
  .fresh {
    padding: 70px 0;
  }
}
@media (max-width: 478px) {
  .fresh {
    padding: 30px 0;
  }
  .fresh-wrapper {
    flex-direction: column;
  }
  .fresh__left-title {
    font-size: 20px;
    line-height: 25px;
  }
  .fresh__left-subtitle {
    margin: 10px 0 10px;
  }
  .fresh__left-subtitle {
    font-size: 14px;
  }
}
.how {
  margin: 134px 0 127px;
}

.how-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.65px;
  text-align: center;
  color: var(--bg-green);
  margin-bottom: 66px;
}

.how__main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.how__main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 25vw;
}
.how__main__item img {
  width: 100%;
  border: 2px var(--grey) dashed;
  border-radius: 20px;
}

.how__main__item-title {
  margin: 48px 0 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.66px;
  color: var(--black);
}

.how__main__item-title:last-child {
  margin: 20px 0 15px;
}

.how__main__item-subtitle {
  max-width: 27vw;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: var(--grey);
}

.how__main__item-line {
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lines);
  border-radius: 15px;
  height: 3px;
  min-width: 30px;
}

@media (max-width: 1000px) {
  .how {
    margin: 0px 0 40px;
  }
  .how__main__item-title {
    margin: 20px 0 15px;
  }
  .how__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .how__main {
    flex-direction: column;
  }
  .how__main__item-line {
    display: none;
  }
  .how__main__item, .how__main__item-subtitle {
    max-width: none;
    width: 65vw;
  }
}
@media (max-width: 468px) {
  .how__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .how {
    margin: 0px 0 20px;
  }
  .how__main__item-title, .how__main__item-subtitle {
    font-size: 14px;
  }
  .how__main__item-title {
    margin: 5px 0 5px;
    line-height: 14px;
  }
}
.menu {
  padding-top: 154px;
  padding-bottom: 140px;
  background-image: url(/data/section3/BG-Shape.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.65px;
  color: var(--bg-green);
}

.menu-subtitle {
  text-align: center;
  margin: 25px 0 50px;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
}
.menu-subtitle span {
  color: var(--bg-green);
}

.menu__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.menu__btn {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

.menu__main-nav {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.menu-navigation {
  padding: 16px 46px;
  background-color: var(--white);
  border: 2px var(--grey) solid;
  border-radius: 6px;
}

.menu__items-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.menu-navigation-item {
  padding: 26px;
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid var(--lines);
  border-radius: 6px;
}
.menu-navigation-item img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.menu-navigation-item__main {
  width: 100%;
  min-height: 200px;
  position: relative;
}

.menu-item__main-name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: var(--black);
}

.menu-item__main-descr {
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--grey);
}

.menu-item__main-price {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--bg-green);
}

.menu-item__main-iteract {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-item__main-btn {
  margin-left: 8px;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: var(--black);
}

.menu-input {
  text-align: center;
  padding: 8px 0 10px;
  width: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: var(--black);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.menu-activeBtn {
  background-color: var(--bg-green);
  color: var(--white);
}

@media (max-width: 1000px) {
  .menu__items-container {
    grid-template-columns: 1fr;
  }
  .menu {
    padding-top: 54px;
    padding-bottom: 40px;
  }
  .menu-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 576px) {
  .menu-navigation {
    padding: 6px 26px;
  }
  .menu {
    padding-top: 24px;
    padding-bottom: 15px;
  }
  .menu-title {
    font-size: 20px;
    line-height: 25px;
  }
  .menu-subtitle {
    font-size: 14px;
    margin: 15px 0 20px;
  }
  .menu-item__main-name, .menu-item__main-descr, .menu-item__main-price {
    font-size: 14px;
  }
  .menu-navigation-item {
    padding: 15px;
  }
  .menu-input {
    text-align: center;
    padding: 4px 0 5px;
    width: 40px;
    font-size: 14px;
  }
  .menu-item__main-btn {
    margin-left: 4px;
    padding: 5px 6px;
    font-size: 14px;
    margin: 0;
  }
  .menu__main-nav {
    gap: 10px;
  }
  .menu__main {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .menu-item__main-descr {
    font-size: 12px;
    line-height: 15px;
  }
  .menu-item__main-name {
    top: 10%;
  }
}
.orders {
  margin: 120px 0;
}

.order-wrapper {
  display: flex;
  align-items: center;
}

.orders-left img {
  width: 100%;
}

.orders-right {
  margin-left: 40px;
  max-width: 50vw;
}

.orders-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.65px;
  color: var(--bg-green);
}

.orders-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: var(--grey);
  margin: 29px 0 47px;
}

.orders-btn {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: var(--white);
}

@media (max-width: 1000px) {
  .order-wrapper {
    flex-direction: column-reverse;
  }
  .orders {
    margin: 60px 0;
  }
  .orders-right {
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
    max-width: none;
  }
  .orders-title {
    font-size: 30px;
    line-height: 35px;
  }
  .orders-subtitle {
    font-size: 16px;
    line-height: 17px;
  }
}
@media (max-width: 478px) {
  .orders-subtitle {
    margin: 15px 0 15px;
  }
  .orders-title {
    font-size: 20px;
    line-height: 25px;
  }
  .orders {
    margin: 20px 0;
  }
}
.call {
  background-image: url(/data/section5/BG-Shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}

.call-wrapper {
  display: flex;
  align-items: center;
}

.call-left {
  max-width: 50vw;
}

.call-title {
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.65px;
  color: var(--bg-green);
}

.call-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: var(--grey);
  margin: 29px 0 47px;
}

.call-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--white);
}

.call-right {
  width: 100%;
  max-width: 567px;
}
.call-right img {
  width: 100%;
}

@media (max-width: 1000px) {
  .call-title {
    font-size: 35px;
    line-height: 35px;
  }
  .call {
    padding: 70px 0;
  }
  .call-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .call-left {
    max-width: none;
  }
  .call-title {
    font-size: 20px;
    line-height: 20px;
  }
  .call {
    padding: 30px 0;
  }
  .call-subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 15px;
  }
  .call-btn {
    font-size: 14px;
    line-height: 14px;
  }
}
.support {
  width: 100%;
  height: 100%;
  margin-bottom: 43px;
}

.support-wrapper {
  height: 100%;
  display: flex;
  gap: 22px;
}

.support__left {
  width: 100%;
}
.support__left img {
  width: 100%;
}

.support__right {
  max-width: 50vw;
  display: flex;
  width: 100%;
  position: relative;
}
.support__right img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.support-title {
  margin-right: 20px;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 53px;
  font-weight: 400;
  line-height: 60.5px;
  letter-spacing: 1.65px;
  color: var(--white);
}
.support-title span {
  color: #1B9097;
}

.support-btn {
  border-radius: 4px;
  position: absolute;
  top: 75%;
  left: 10%;
  max-height: 60px;
  display: flex;
  padding: 20px 35px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: var(--bg-green);
  transition: all 0.4s;
}

.support-btn:hover {
  scale: 1.05;
}

@media (max-width: 1024px) {
  .support-title {
    margin-right: 10px;
    font-size: 34px;
    line-height: 40.5px;
  }
}
@media (max-width: 768px) {
  .support-title {
    margin-right: 10px;
    font-size: 20px;
    line-height: 25px;
  }
  .support-wrapper {
    flex-direction: column-reverse;
  }
  .support__right {
    max-width: none;
    min-height: 300px;
    overflow: hidden;
  }
}
.footer {
  padding-top: 100px;
  background-image: url(/data/footer/bg.png);
  background-position: -35vw -50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__top {
  color: var(--grey);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding-bottom: 100px;
  border-radius: 1px;
  border-bottom: 2px var(--lines) solid;
}

.footer__top-col1 {
  display: flex;
  flex-direction: column;
}
.footer__top-col1 p {
  margin-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  max-width: 250px;
}

.footer__top-col2 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
}

.footer__top-col2 > a:hover {
  transition: all 0.4s;
  color: var(--bg-green);
}

.footer__top-col-item:first-child {
  color: var(--black);
}

.footer__top-col3 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
}

.footer__top-col3 > a:hover {
  transition: all 0.4s;
  color: var(--bg-green);
}

.footer__top-col4 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
}

.footer__top-col4 > a:hover {
  transition: all 0.4s;
  color: var(--bg-green);
}

.footer__btm {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__btm-left {
  display: flex;
}
.footer__btm-left span {
  display: inline;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
}
.footer__btm-left p {
  display: inline;
  color: var(--bg-green);
}

.footer__btm-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__btm-right__link {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  border: 2px var(--lines) solid;
  position: relative;
  background-color: var(--white);
}
.footer__btm-right__link img {
  width: 100%;
  height: 100%;
  display: block;
}

.footer__btm-right__link:hover {
  transition: all 0.5s;
  scale: 1.05;
}

.footer__btm-right__link > img:last-child {
  width: 20px;
  padding-right: 5px;
}

@media (max-width: 1000px) {
  .footer {
    padding-top: 50px;
  }
  .footer__top {
    padding-bottom: 50px;
  }
  .footer__btm {
    padding: 30px 0;
  }
}
@media (max-width: 700px) {
  .footer__top {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .footer__btm-right {
    gap: 10px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__btm {
    padding: 20px 0;
  }
  .footer__top {
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=styles.css.map */